---
import { Article, Header, Navigation } from "src/components/layout";
import type { CollectionEntry } from "astro:content";
import { NAVIGATION_ITEMS } from "src/config/navigation";
import { BASE_URL, SITE } from "src/config/env";
import "../styles/main.css";

type Props = CollectionEntry<"docs">["data"];

const data = Astro.props;
const currentPage = Astro.url.pathname.replace(BASE_URL, "/").replace(/\/$/, "");
---

<html dir={data.dir} lang={data.lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={data.description} />
    <meta name="generator" content={Astro.generator} />
    <title>
      {`${data.title} 🚀 ${SITE.title}`}
    </title>
  </head>
  <body>
    <Header currentPage={currentPage} client:idle />
    <div class="relative mx-auto flex max-w-8xl justify-center sm:px-2 lg:px-8 xl:px-12">
      <div class="hidden lg:relative lg:block lg:flex-none">
        <!-- <div class="absolute inset-y-0 right-0 w-[50vw] bg-gradient-to-b from-slate-100 bg-white dark:hidden">
        </div>
        <div
          class="absolute bottom-0 right-0 top-16 hidden h-12 w-px bg-gradient-to-t from-slate-800 dark:block"
        >
        </div>
        <div class="absolute bottom-0 right-0 top-28 hidden w-px bg-slate-800 dark:block"></div> -->
        <div
          class="sticky top-[4.5rem] -ml-0.5 h-[calc(100vh-4.5rem)] overflow-y-auto overflow-x-hidden py-16 pl-0.5"
        >
          <Navigation currentPage={currentPage} className="w-64 pr-8 xl:w-72 xl:pr-16" />
        </div>
      </div>

      <div class="min-w-0 max-w-2xl flex-auto px-4 py-16 lg:max-w-none lg:pl-8 lg:pr-0 xl:px-16">
        <Article>
          <!-- {
            (title || section) && (
              <header className="mb-9 space-y-1">
                {section && <p className="font-display text-sm font-medium text-sky-500">{section.title}</p>}
                {title && (
                  <h1 className="font-display text-3xl tracking-tight text-slate-900 dark:text-white">
                    {title}
                  </h1>
                )}
              </header>
            )
          } -->
          <slot />
        </Article>
        <!-- <dl className="mt-12 flex border-t border-slate-200 pt-6 dark:border-slate-800">
          {
            previousPage && (
              <div>
                <dt className="font-display text-sm font-medium text-slate-900 dark:text-white">Previous</dt>
                <dd className="mt-1">
                  <Link
                    href={previousPage.href}
                    className="text-base font-semibold text-slate-500 hover:text-slate-600 dark:text-slate-400 dark:hover:text-slate-300"
                  >
                    <span aria-hidden="true">&larr;</span> {previousPage.title}
                  </Link>
                </dd>
              </div>
            )
          }
          {
            nextPage && (
              <div className="ml-auto text-right">
                <dt className="font-display text-sm font-medium text-slate-900 dark:text-white">Next</dt>
                <dd className="mt-1">
                  <Link
                    href={nextPage.href}
                    className="text-base font-semibold text-slate-500 hover:text-slate-600 dark:text-slate-400 dark:hover:text-slate-300"
                  >
                    {nextPage.title} <span aria-hidden="true">&rarr;</span>
                  </Link>
                </dd>
              </div>
            )
          }
        </dl> -->
      </div>
    </div>
  </body>
</html>
